@model IEnumerable<RelationShipsExample.Models.Classification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de clasificación</h2>

<p>
    @Html.ActionLink("Agregar clasificación", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Audiencia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Audience)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClassificationId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ClassificationId }, new { @class = "btn btn-success"}) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ClassificationId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
