@model RelationShipsExample.Models.Schelude

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Schelude</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheludes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheludes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinema.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheludeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
